@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvido por: @ViewData["Contato"]</p>

<address>
    <strong>Mais informações: </strong><a href="https://www.linkedin.com/in/leonardo-de-freitas-ferreira-164385181/">Linkedin</a>
</address>
